.App {
  text-align: center;
  background-image: url("./bg.jpeg");
  /*background-color: rgba(66, 93, 47, 0);*/
  min-height: 100vh;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(8px + 1vmin);
  color: #d8d8f0;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
  overflow-x: hidden;
  font-family: monospace, "Roboto Mono", sans-serif;
}

.App-logo {
  position: absolute;
  width: 200px;
  top: 15px;
  left: 10px;
}

.isuck {
  position: absolute;
  width: 200px;
  top: 15px;
  right: 10px;
}

.Ps-logo {

  width: 250px;
  padding-right: 4em;
  padding-left: 4em;
  position: relative;
  top: 20px;
}

.Nftkey-logo {
width: 250px;
  padding-right: 4em;
  padding-left: 5em;
  position: relative;
  top: 20px;
}
.Title {
  font-family: Skinny,Enliven,"High Tower Text",Skinny,monospace;
  text-align: center;
  font-size: 3em;
  font-weight: normal;
  position: relative;
  top: 10px;
}

.App-header {
  margin-bottom: 16px;
}

.bar {
  position: relative;
  left:20px;
}

.App-subtitle {
  margin: 0;
  font-size: calc(8px + 0.8vmin);
}

a {
  color: rgb(27, 217, 211);
}

h1 {
  /*position: relative;*/
  left:20px;
  text-align: center;
  margin-bottom: 8px;
  font-size: calc(10px + 3vmin);
}

h2  {
  text-align: center;
  font-size: xx-large;
  margin-bottom:unset;

}

p {
  margin: 16px 0 8px 0;
  font-size: calc(10px + 1.5vmin);
}

ul {
  text-align: left;
}
